<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>オイシックス</title>
</head>
<body>  
    <header>
        <a>初めましての方は<a href={{url_for('login.regist')}}>こちらへ</a></a><br>
        <a>いらっしゃいませ！お買い物を始める時は<a href={{url_for('login.login')}}>ログイン</a>してください。</a>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <form action="" method="post">
                        <input type="text" name="search"  placeholder="何かお探しですか">
                        <button type="submit">検索</a>
                    </form>
                </div>
              </div>
            </div>
          </nav>
          <tbody>
            {% for product in product_list %}
            <tr>
            <form action='' > 
                <td>{{ product[0] }}</td><br>
                <td>{{ product[1] }}</td>
                <td>{{ product[2] }}</td><br>
            </tr>
            {% endfor %}
        </tbody>
        </header>
</body>
</html>