<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理者</title>
</head>
<body>
        追加しました<br>
        <br>
        {% for product in product_list %}
            <tr>
                <td>{{ product[0] }}</td><br>
                <td>{{ product[1] }}円</td>
                <td>{{ product[2] }}個</td><br>
            </tr>
            {% endfor %}
        <a href="{{url_for('login.move_home')}}">TOPページへ</a>
</body>
</html>