<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>up</title>
</head>
<body>
    {% for product in product_list %}
            <tr>
                <td><form action="{{url_for('admin.update_conf')}}" method="post">
                    <input type="hidden" name="name" value={{ product[0] }}>
                    <input type="hidden" name="gold" value={{ product[1] }}>
                    <input type="hidden" name="stack" value={{ product[2] }}>
                    <input type="submit" value={{ product[0] }}></td><br>
                <td>{{ product[1] }}</td>
                <td>{{ product[2] }}</td><br>
            </tr>
            {% endfor %}
</body>
</html>